.background {
  width: 90%;
  background-image: url('../Images/backgroundSunset.jpg');
  background-size: cover;       /* fills the screen */
  background-position: center;  /* centers the image */
  background-repeat: no-repeat; /* no tiling */
  height: 100vh;                /* full viewport height */
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;                  /* start invisible */
  animation: fadeIn 5s ease-in forwards;  /* fade-in effect */
}

.loadBackround {
  background-color: rgb(219, 87, 39);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}

.images {
  display: flex;
  justify-content: center;
  height: 200px;
}

.playerStartUp {
 background-color: white;
 border-radius: 10px;
 width: 30%;
 margin-left: 5%;
 text-align: center;
 padding-bottom: 10px;
}

.player-block {
  background-color: lightgray;
}

.players {
  width: 70%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.contentHomePage {
  display: flex;
}

.startGame {
  background-color: white;
  border-radius: 10px;
  margin-left: 50%;
  width: 10%;
}

.startText {
  text-align: center;
}

.sheep {
  width: 50px;
  height: 50px;
  bottom: 10%;
  position: absolute;
  animation: moveSideToSide 3s ease-in-out infinite alternate;
}

@keyframes moveSideToSide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px); /* move 100px right */
  }
}